@model UpdateWorkLocationDto
@{
    ViewData["Title"] = "UpdateWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" asp-action="UpdateWorkLocation" asp-controller="WorkLocation">
    <input type="hidden" asp-for="WorkLocationID" />
    <label>Location Adi</label>
    <input type="text" asp-for="WorkLocationName" class="form-control" placeholder="Location Adi" required />
    <br />
    <label>Location Şehir</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" placeholder="Şehir" required />
    <br />
    <button class="btn mb-1 btn-rounded btn-group-vertical"> kaydet</button>
</form>

