@model UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" asp-action="UpdateGuest" asp-controller="Guest">
    <input type="hidden" asp-for="GuestId" />
    <label>Adi</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="adınız" required />
    <br />
    <label>Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" placeholder="soyadınız" required />
    <br />
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" placeholder="şehir" required />
    <br />
    <button class="btn mb-1 btn-rounded btn-group-vertical"> kaydet</button>
</form>

