@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<form method="post" >
    <input type="hidden" asp-for="StaffId"  /> 
    <label>Personel Adi</label>
    <input type="text" asp-for="NameSurname" class="form-control" placeholder="Personel adi ve soyadi" required />
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" placeholder="Personel Ünvani" required />
    <br />
    <label>Sosyal Medya 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" placeholder="Sosyal Medya 1" required />
    <br />
    <label>Sosyal Medya 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" placeholder="Sosyal Medya 2" required />
    <br />
    <label>Sosyal Medya 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" placeholder="Sosyal Medya 2" required />
    <br />
    <label>Resim Yolu</label>
    <input type="text" asp-for="ImageUrl" class="form-control" placeholder="resim yolu" required />
    <br />
    <button class="btn mb-1 btn-rounded btn-group-vertical"> kaydet</button>
</form>


