@model AddRoomDto
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" asp-action="AddRoom" asp-controller="AdminRoom">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" placeholder="başlık" required/>
    <br />
    <label>Oda numara</label>
    <input type="text" asp-for="RoomNumber" class="form-control" placeholder="Oda numara" required />
    <br />
    <label>Yatak sayısı</label>
    <input type="text" asp-for="BedCount" class="form-control" placeholder="yatak sayısı" required />
    <br />
    <label>Banyo sayısı</label>
    <input type="text" asp-for="BoatCount" class="form-control" placeholder="banyo sayısı" required />
    <br />
    <label>Oda fiyat</label>
    <input type="text" asp-for="Price" class="form-control" placeholder="oda fiyati" required />
    <br />
    <label>Görünüm</label>
    <input type="text" asp-for="View" class="form-control"  required />
    <br />
    <label>Resim Yolu</label>
    <input type="text" asp-for="RecoverImage" class="form-control" placeholder="resim yolu" required />
    <br />
    <button class="btn mb-1 btn-rounded btn-group-vertical"> kaydet</button>
</form>

