@model List<ExchangeViewModel.Exchange_Rates>
@{
    Layout = null;
}


<link href="~/css/site.css" rel="stylesheet" />

<a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<table class="table table-bordered">
    <tr>
        <th>Doviz kodu</th>
        <th>Tutar</th>
        
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.currency.</th>
            <td>@x.exchange_rate_buy</td>
           
            
        </tr>
    }
</table>
